<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="tv.biliclassic" >

    <!-- 权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:name=".BiliApplication"
        android:allowBackup="true"
        android:largeHeap="true"
        android:icon="@drawable/ic_launcher"
        android:label="哔哩经典"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >

        <activity
            android:name=".BaseActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".CrashReportActivity"
            android:screenOrientation="portrait" />

        <!-- MainActivity -->
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".SearchActivity"
            android:screenOrientation="portrait" />

        <!-- AboutActivity -->
        <activity
            android:name=".AboutActivity"
            android:theme="@android:style/Theme.Black.NoTitleBar"
            android:screenOrientation="portrait" />

        <activity
            android:name=".VideoDetailActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".DeviceInfoActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".UserProfileActivity"
            android:screenOrientation="portrait"/>

        <!-- 注册 LoginActivity -->
        <activity
            android:name=".HistoryActivity"
            android:screenOrientation="portrait" />

        <!-- 注册 SettingsActivity -->
        <activity
            android:name=".SettingsActivity"
            android:screenOrientation="portrait" />

        <!-- 解码设置 -->
        <activity
            android:name=".subsettings.DecoderSettingsActivity"
            android:screenOrientation="portrait" />

        <!-- 注册 OfflineActivity -->
        <activity
            android:name=".OfflineActivity"
            android:screenOrientation="portrait" />

        <!-- 注册 LoginActivity -->
        <activity
            android:name=".LoginActivity"
            android:screenOrientation="portrait" />

        <!-- 注册 FavoriteFolderActivity -->
        <activity
            android:name=".FavoriteFolderListActivity"
            android:screenOrientation="portrait" />

        <!-- 注册 PlayerAnimActivity -->
        <activity
            android:name=".player.PlayerAnimActivity"
            android:hardwareAccelerated="false"
            android:screenOrientation="landscape"
            android:configChanges="orientation|screenSize"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" />

        <!-- 注册 LoginActivity -->
        <activity
            android:name=".FavoriteVideoListActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".SpecialLoginActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".player.BiliPlayerActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" />

        <!-- 视频下载后台服务 -->
        <service
            android:name=".download.VideoDownloadService"
            android:exported="false" />

    </application>

</manifest>